 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*, * *, *::after, *::before {
	box-sizing: border-box;
}

body {
	background: url('../images/1.jpg');
	background: url("../images/1.jpg");
	background-position: center;
	background-repeat: repeat;
	font-family: "poppins", sans-serif;
} 

 main {
	max-width: min(100vw, 600px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: auto;
	margin-right: auto;
} 
.content {
	text-align: center;
	color: white;
}

.content h1 {
	font-size: 2.5rem;
}

.content p {
	font-size: 1.5rem;
}

.signup p {
	font-size: 2rem;
	text-align: center;
	width: 90%;
	margin: 2.5rem auto;
	color: white;
	border-radius: 9px;
}
.signup_form {
	width: 90%;
	margin: 0 auto;
	padding: 1rem 1.5rem ;
	border-radius: 9px;
    background-color:white;
	box-shadow: 0 0.5rem 0 0 #e9e5e5;
}
.signup_form input {
	width: 100%;
	margin: 1rem 0 ;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	border: 1px solid #e2e2e2;
}

::placeholder {
	font-weight: bold;
}

.submit {
	color: white;
	font-size: 1rem;
	background-color: #31ae07;
	box-shadow: 0px 4px 1px 3px #122e09
}

.submit:hover {
	background-color: #122e09;
	cursor: pointer;

}
.signup__form input ~ span.error-message {
	position: relative;
	display: block;
	width: 100%;
	text-align: right;
	padding-top: 0;
	color: #ff7a7a;
	font-size: 0.65em;
	font-style: italic;
	font-weight: 500;
  }
  .signup__form input.error {
	border: 2px solid #ff7a7a;
  }
  .error-icon img {
	width: 15px;
	height: 15px;
	margin-right: 0.5rem;
	text-align: center;
	align-items: center;
  }
   span {
	font-size: 0.75rem;
	color: #f70000;
  }

.terms-notice {
	font-size: 0.7rem;
	color: #b8b8b8;
}
.terms-notice span {
color: red;
}
.signup_form .error {
	border: 1px solid red;
}

.attribution, .attribution a {
	margin-top: 4rem;
	text-align: center;
	color: white; 
}
	@media (min-width: 768px)  {
		main {
			max-width: min(90vw, 1000px);
			flex-direction: row;
			gap: 1rem;
			margin-top: 10rem;
		}
		main > * {
			width: 50%;
		  }	
	
		  .content {
			padding: 1.5rem;
			font-size: 0.9rem;
			margin-top: 20%;
		  }
		  .content h1 {
			font-size: 2.5em;
		  }

		  .attribution, .attribution a{
			margin-top: 20%;
		  }
		
	}

	@media (min-width: 1440px)  {
		main {
			max-width: min(90vw, 1000px);
			flex-direction: row;
			gap: 1rem;
			margin-top: 10rem;
		}
		main > * {
			width: 50%;
		  }	
		  .content h1 {
			font-size: 4.5em;
		  }
		  .signup {
			margin-top: 10%;
		  }
		  .attribution, .attribution a{
			margin-top: 10%;
		  }
		  .signup p {
			font-size: 3rem; 
		  }
		
		  .signup input {
			font-size: 1.2rem;
			padding: 1rem;
		  }
		
		}

